.nav__item > [href^="#"] {
  text-decoration: none;
  vertical-align: middle;
}

.nav__item > [href^="#"]:link {
  color: black;
}

.nav__item > [href^="#"]:visited {
  color: black;
}

.nav {
  padding-left: 0px;
}

.nav__item {
  @extend %nav-item;
  
  &:first-child {
    background-color: map-get($btn-colors, 'default');
    border-radius: 5px;
    & [href^="#"] {
      color: white;
    }
  }
}

@include mq(large) {
  .nav {
    @include flexbox($display: inline-flex, $flex-direction: row);
    width: 80%;
    justify-content: flex-start;
  }
  
  .nav__item {
    @include flexbox($display: inline-flex);
    margin: 0px 10px;
    padding: 0px 10px;
    font-size: 1.3em;
  }
}  