.headline--primary {
  color: map-get($btn-colors, 'default');
  padding-left: 20px;
  padding-right: 100px;
  line-height: 110%;
}

.blockquote {
  font-size: 1.7em;
  font-style: italic;
  border-left: 10px solid map-get($btn-colors, 'default');
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 10px;
  letter-spacing: -1px;
}