.container {
  font-family: $font-family--primary;
  width: 90%;
  margin: 10px auto;
}

.headline--secondary {
  @extend %hdline-secondary;
}

.link {
  @extend %link;
}

p {
  font-size: 18px;
  padding-right: 20px;
}
