.container {
  font-family: $font-family--primary;
  width: 90%;
  margin: 10px auto;
}

.headline--secondary {
  margin-bottom: 20px;
}

.link {
  color: map-get($btn-colors, 'default');
  font-weight: bold;
  text-decoration: none;
}

p {
  font-size: 18px;
  padding-right: 20px;
}